.gpt3__frecharge {
    width: 31%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 7rem;
}
.gpt3__frecharge h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}
.gpt3__frecharge_balance {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 16px;
    gap: 16px;
    background: rgba(220, 0, 25, 0.1);
    border-radius: 8px;
    margin-top: 1rem;
}
.gpt3__frecharge-sub button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 327px;
    background: #DC0019;
    border-radius: 8px;
    outline: none;
    border: none;
    color: #fff;  
    margin-top: 1rem;

}

.gpt3__frecharge-btn {
    margin: 1rem auto;
    }
.gpt3__frecharge-formbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  
.gpt3__frecharge-eye {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;
    width: 66px;
    height: 28px;
    background: rgba(220, 0, 25, 0.1);
    border-radius: 8px;

}
.gpt3__frecharge-btn button {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    height: 41px;
    width: 163.5px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    padding: 10px 16px 10px 16px;
    border: none;
    background: transparent;
    border-bottom: 2px solid #F3F2F2;
    
}


  .MuiFormHelperText-root {
  color:#DC0019 !important ;
  margin-left: 1px !important;
  }
  .gpt3__frecharge-eye p {
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.24px;
    color: #1E1E1E;
}

@media screen and (max-width:320px) {
    .gpt3__frecharge-sub {
        width: 100%;
        display: flex;
        justify-content: center;
        }
        .gpt3__frecharge-sub button {
        width: 90%;
        }
        
}
  @media screen and (min-width:320px) and (max-width:820px){
    .gpt3__frecharge {
    min-width: 85%;
    }
    .gpt3__frecharge-formbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .gpt3__frecharge-btn {
        margin-top: 1rem;
        max-width: 95% !important;
        display: flex;
        justify-content: center;
        }
   
    
}
