.gpt3__wtransfer {
    width: 31%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 7rem;

}
.MuiFormHelperText-root {
font-family: raleWay !important;
color: #DC0019 !important;
font-weight: 900 !important;
}
.gpt3__wtransfer h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}
.gpt3__wtransfer-charges {
width: 70%;
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 1rem
}
.charges {
display: flex;
flex-direction: column;
gap: 10px;
}
.text{
    color: #CDCDCD;
    font-weight: 600;
    
}

.gpt3__wtransfer-b > p {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.24px;
    color: #1E1E1E;
}
.gpt3__wtransfer-btn {
margin: 1rem auto;
}
.gpt3__wtransfer_balance {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 16px;
    gap: 16px;
    background: rgba(220, 0, 25, 0.1);
    border-radius: 8px;
    margin-top: 1rem;
}
.gpt3__wtransfer-btn button {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    height: 41px;
    width: 163.5px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    padding: 10px 16px 10px 16px;
    border: none;
    background: transparent;
    border-bottom: 2px solid #F3F2F2;
    
}
.gpt3__wtransfer-sub button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 327px;
    background: #DC0019;
    border-radius: 8px;
    outline: none;
    border: none;
    color: #fff;  

}

.gpt3__wtransfer-eye {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;
    width: 66px;
    height: 28px;
    background: rgba(220, 0, 25, 0.1);
    border-radius: 8px;

}
.textc{
color:#C57600;
}
#rid , #rname ,  
#amount
{
font-family: raleWay;
font-weight: bold;
}
.ex-logo-text {
    padding-top: 2px;
    
}
.gpt3__wtransfer-formbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
.gpt3__wtransfer-eye p {
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.24px;
    color: #1E1E1E;
}
#rid::placeholder , #rname::placeholder , #amount::placeholder{
font-family: raleWay;
}


  .MuiFormHelperText-root {
  color:#DC0019 !important ;
  margin-left: 1px !important;
  }
  

.gpt3__wtransfer-b {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
    }

    

    @media screen and (min-width:320px) and (max-width:820px){
        .gpt3__wtransfer {
        width: 85%;
        }
        .gpt3__wtransfer-btn {
            margin-top: 1rem;
            display: flex;
            justify-content: center;
            max-width:100% ;
            text-align: center;
            }
            .gpt3__wtransfer-charges {
            width: 100%;
            }
            .gpt3__wtransfer-sub button{
                max-width: 90%;
            }
            .gpt3__wtransfer-sub {
            display: flex;
            justify-content: center;
            }
    }