.gpt3__wallet {
    width: 31%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 5rem;

}

.gpt3__wallet > h6 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

@media screen and (min-width:320px) and (max-width:820px){
     .gpt3__wallet {
     min-width: 85%;
     }
  
}
